<%- include('parts/html-head.ejs') %>
<%- include('parts/navbar.ejs') %>

<div class="container">
    <h2><%= name %></h2>
</div>

<%- include('parts/scripts.ejs') %>
<%- include('parts/html-foot.ejs') %>