<<<<<<< HEAD
<%- include('parts/html-head.ejs') %>
<%- include('parts/navbar.ejs') %>

<div class="container">
    <h2><%= name %></h2>
</div>

<%- include('parts/scripts.ejs') %>
<%- include('parts/html-foot.ejs') %>
=======
<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <h2><%= name %></h2>
</div>
<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>
>>>>>>> 5a47c89371a6c3aab19ba4fe85a1966b68139d32
